<div class="header">
  <h1>LISTADO DE CURSOS</h1>

    <div class="btn-inicio">
        <a href="inicio">
      <button>INICIO</button>
        </a>
    </div>

    <div class="cerrar-sesion">
      <a href="login">
        <button (click)="borrarCache()">CERRAR SESION</button>
      </a>
    </div>
  </div>
  
  <div class="container">
    <div *ngIf="idAdmin == 0" class="btn-CrearCurso">
      <a href="cursos/form">
        <button>Crear Nuevo Curso</button>
      </a>
    </div>
  
    <div class="lista-cursos" *ngFor="let c of cursos">
      <p>Nombre: {{c.nombre}}</p>
      <p>Descripcion: {{c.descripcion}}</p>
      <p>Fecha Inicio: {{c.fechaInicio}}</p>
      <p>Fecha Fin: {{c.fechaFin}}</p>
  
      <p>Usuarios inscritos: {{c.usuarios.length}} </p>
      <div *ngIf="idAdmin == 0" class="botones">
        <button id="btn-Eliminar" (click)="deleteCurso(c.id)">Eliminar -> {{c.nombre}}</button>
        <button id="btn-Update" (click)="btnUpdateCurso(true,c.id)"> Actualizar -> {{c.nombre}}</button>
      </div>
      
    <div *ngIf="idAdmin == 1" class="botones">
      <button id="btn-Incripcion" (click)="btnMatricularse(c.id)" [disabled]="isInscrito(c.id)" [ngClass]="{'disabled': isInscrito(c.id)}">Matricularse</button>
      <button id="btn-Desincripcion" (click)="btnDesmatricularse(c.id)" [disabled]="!isInscrito(c.id)" [ngClass]="{'disabled': !isInscrito(c.id)}">Desmatricularse</button>
    </div>
</div>
