.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
  }
  
  .cerrar-sesion {
    margin-right: 20px;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
  }
  
  h1, p {
    text-align: center;
    color: #333;
  }
  
  .btn-CrearCurso {
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  a {
    text-decoration: none;
  }
  
  div {
    margin-bottom: 20px;
    padding: 10px;
    
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  .lista-cursos {
    padding-left: 20px;
    border: 1px solid #ccc;
    margin: 0 auto;
    p{
      text-align: left;
    }
  }

  .botones {
    padding-left: 20%;
    border: 1px solid #ccc;
    margin: 0 auto;

    button{
      margin-right: 2%;
    }
  }

  .disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    opacity: 0.5;
  }



  
  