<div class="header">
  <h2>Lista de Usuarios</h2>
  <div class="nav-buttons">
    <a href="inicio">
      <button>INICIO</button>
    </a>
    <a href="login">
      <button (click)="borrarCache()">CERRAR SESIÓN</button>
    </a>
    <button id="btn-Crear" (click)="btnCreateUser(false, true)">Crear Usuario</button>
    <button id="btn-Generar-Reporte" (click)="btnGenerarReporte()">
      GENERAR REPORTE
    </button>
  </div>
</div>

<div class="container">
  <div class="table-container">
    <table class="users-tabla">
      <thead>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Rol</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of users">
          <td>{{u.id}}</td>
          <td>{{u.email}}</td>
          <td>{{u.rol.nombreRol}}</td>
          <td>
            <span [ngClass]="u.habilitado ? 'estado-habilitado' : 'estado-deshabilitado'">
              {{ u.habilitado ? 'Habilitado' : 'Deshabilitado' }}
            </span>
          </td>
          <td>
            <button id="btn-Update" (click)="btnUpdateUser(true, false, u.id)">Actualizar</button>
            <button
              id="btn-Eliminar"
              (click)="deleteUser(u.id)"
              [disabled]="!u.habilitado"
            >
              Eliminar
            </button>
            <button
              id="btn-Habilitar"
              (click)="habilitarUser(u.id)"
              [disabled]="u.habilitado"
            >
              Habilitar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<p-toast position="top-left"></p-toast>
<p-confirmdialog />
