<div class="header">
    <h2>Lista de Roles</h2>
  
    <div class="btn-inicio">
        <a href="inicio">
            <button>INICIO</button>
        </a>
    </div>
  
    <div class="cerrar-sesion">
        <a href="login">
            <button (click)="borrarCache()">CERRAR SESION</button>
        </a>
    </div>

    <div class="btn-CrearRol">
        <button id="btn-Crear" (click)="btnCreateRol(false, true)">Crear -></button>
    </div>

    <div>
        <form [formGroup]="formulario" (ngSubmit)="buscarRol()">
            <label>
                <input type="text" placeholder="Nombre Rol" formControlName="nombreRol">
                <button type="submit">🔍</button>
            </label>
        </form>
    </div>

    <div *ngIf="!filtrado">
        <div class="lista-roles" *ngFor="let r of roles">
            <h3>Rol:</h3>
            <p>id: {{r.id}}</p>
            <p>nombre: {{r.nombreRol}}</p>
            <p>descripcion: {{r.descripcion}}</p>
          
            <div class="btn-ActualizarRol">
              <button id="btn-Actualizar" (click)="btnUpdateRol(true, false,r.id)">Actualizar -></button>
            </div>

            <div class="btn-deleteRol">
                <button id="btn-Delete" (click)="btnDeleteRol(r.id)">Eliminar -></button>
            </div>
          
        </div>
    </div>
    
    <div *ngIf="filtrado">
        <div class="lista-roles" *ngFor="let r of resultado">
            <h3>Rol:</h3>
            <p>id: {{r.id}}</p>
            <p>nombre: {{r.nombreRol}}</p>
            <p>descripcion: {{r.descripcion}}</p>

            <div class="btn-ActualizarRol">
                <button id="btn-Actualizar" (click)="btnUpdateRol(true, false,r.id)">Actualizar -></button>
            </div>

            <div class="btn-deleteRol">
                <button id="btn-Delete" (click)="btnDeleteRol(r.id)">Eliminar -></button>
            </div>

        </div>
    </div>
</div>
    
