<div class="header">
    <h2>Lista de Roles</h2>
    <div class="nav-buttons">
      <a href="inicio">
        <button>INICIO</button>
      </a>
      <a href="login">
        <button (click)="borrarCache()">CERRAR SESIÓN</button>
      </a>
      <button id="btn-Crear" (click)="btnCreateRol(false, true)">Crear Rol</button>
      <button id="btn-Generar-Reporte" (click)="btnGenerarReporte()">
        GENERAR REPORTE
      </button>
    </div>
  
    <form [formGroup]="formulario" (ngSubmit)="buscarRol()" class="search-form">
      <label for="nombreRol">Buscar por Nombre:</label>
      <input id="nombreRol" type="text" placeholder="Nombre Rol" formControlName="nombreRol">
      <button type="submit">🔍</button>
    </form>
  </div>
  
  <div class="container">
    <div *ngIf="!filtrado">
      <h3>Todos los Roles</h3>
      <div class="table-container">
        <table class="roles-tabla">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let r of roles">
              <td>{{r.id}}</td>
              <td>{{r.nombreRol}}</td>
              <td>{{r.descripcion}}</td>
              <td>
                <button id="btn-Actualizar" (click)="btnUpdateRol(true, false, r.id)">Actualizar</button>
                <button id="btn-Delete" (click)="btnDeleteRol(r.id)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <div *ngIf="filtrado">
      <h3>Resultados de la Búsqueda</h3>
      <div class="table-container">
        <table class="roles-tabla">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let r of resultado">
              <td>{{r.id}}</td>
              <td>{{r.nombreRol}}</td>
              <td>{{r.descripcion}}</td>
              <td>
                <button id="btn-Actualizar" (click)="btnUpdateRol(true, false, r.id)">Actualizar</button>
                <button id="btn-Delete" (click)="btnDeleteRol(r.id)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<p-toast position="top-left"></p-toast>
<p-confirmdialog />
  