/* General */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #212529;
  }
  
  .container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  select {
    width: 100%; /* Asegura que todos los elementos ocupen el mismo ancho */
    max-width: 100%; /* Previene que los campos se salgan del contenedor */
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total */
    transition: border-color 0.3s ease;
  }
  
  input:focus,
  select:focus {
    border-color: #007bff;
    outline: none;
  }
  
  button {
    padding: 12px 20px;
    border: none;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  .btn-submit:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    opacity: 0.6;
}

  
  
  .error {
    color: #dc3545;
    font-size: 12px;
    margin-top: 5px;
  }
  
  p {
    color: green;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .btn-listado {
    text-align: center;
    margin-top: 20px;
  }
  
  .btn-listado-usuarios {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-listado-usuarios:hover {
    background-color: #218838;
  }

  .qr-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px 30px;
    background-color: #f8f9fa;
    border-radius: 8px;
  }
  
  .qr-image {
    width: 200px;
    height: 200px;
    margin: 1rem auto;
    display: block;
    border: 1px solid #ddd;
    padding: 10px;
    background: white;
  }
  
  .secret-code {
    margin-top: 1.5rem;
    font-weight: 500;
    color: #555;
  }
  
  .secret-text {
    font-family: monospace;
    font-size: 1.1rem;
    background: #f0f0f0;
    padding: 0.5rem;
    border-radius: 4px;
    word-break: break-all;
    color: #333;
  }
  