<div class="container">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <label>
        Email:
        <input type="email" formControlName="email" required>
      </label>
      <label>
        Password:
        <input type="password" formControlName="password" required>
      </label>
      <label>
        Rol:
        <select formControlName="rol" required>
          <option *ngFor="let r of roles" value="{{r.id}}">{{r.nombreRol}}</option>
        </select>
      </label>
      <button type="submit">{{ isUpdate ? 'Actualizar' : 'Crear' }} Usuario</button>
      <p *ngIf="usuarioActualizadoConExito">Usuario actualizado con éxito</p>
      <p *ngIf="usuarioCreadoConExito">Usuario creado</p>
    </form>
  </div>

<div class="btn-lCursos">

    <a href="users"><button>Listado de Usuarios</button></a>

</div>
  
