<div class="header">
    <h1>Bienvenido!!</h1>
    <div class="cerrar-sesion">
      <a href="login">
        <button (click)="borrarCache()">CERRAR SESION</button>
      </a>
    </div>
</div>
  
<a href="cursos">
  <button>Ir a CURSOS</button>
</a>  
  
<div *ngIf="isAdmin()">
  <a href="users">
    <button>Ir a USUARIOS</button>
  </a>
</div>


<div *ngIf="isAdmin()">
  <a href="rols">
    <button>Ir a ROLES</button>
  </a>
</div>

<div>
  <a href="convocatorias">
    <button>Ir a CONVOCATORIAS</button>
  </a>
</div>
