<body>
    <div class="container">

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <label>
                Email:
                <input type="text" pInputText [pKeyFilter]="bloquearEspacios" formControlName="email" required>
                <div *ngIf="email?.invalid && email?.touched" class="error">
                    El correo electrónico no es válido.
                </div>
            </label>
                <span class="label-text">Contraseña</span>
                <p-password formControlName="password" [feedback]="true" [pKeyFilter]="bloquearEspacios" [toggleMask]="true"
                placeholder="••••••••" inputStyleClass="password-input" 
                [inputStyle]="{'width': '100%'}"
                promptLabel="Crea una contraseña" weakLabel="Contraseña débil" mediumLabel="Contraseña mejorable" strongLabel="Contraseña segura">

                    <ng-template pTemplate="footer">
                    <ul class="pl-2 ml-2 my-0 leading-normal">
                    <li>
                        <i class="pi" [class.pi-check]="tiene8Caracteres()" [class.pi-times]="!tiene8Caracteres()"></i>
                        Al menos 8 carácteres
                    </li>
                    <li>
                        <i class="pi" [class.pi-check]="tieneMayus()" [class.pi-times]="!tieneMayus()"></i>
                        Una mayúscula
                    </li>
                    <li>
                        <i class="pi" [class.pi-check]="tieneMinus()" [class.pi-times]="!tieneMinus()"></i>
                        Una minúscula
                    </li>
                    <li>
                        <i class="pi" [class.pi-check]="tieneNumero()" [class.pi-times]="!tieneNumero()"></i>
                        Un número
                    </li>
                    <li>
                        <i class="pi" [class.pi-check]="tieneCaracterEspecial()" [class.pi-times]="!tieneCaracterEspecial()"></i>
                        Un carácter especial
                    </li>
                    </ul>
                    </ng-template>

                </p-password>
                @if (form.get('password')?.invalid && form.get('password')?.touched) {
                    <div class="error">
                      @if (form.get('password')?.errors?.['required']) {
                        <small>La contraseña es obligatoria</small>
                      }
                      @if (form.get('password')?.errors?.['passwordComplexity']) {
                        <small>Debe contener: 1 mayúscula, 1 minúscula, 1 número y 1 carácter especial, y mínimo 8 carácteres</small>
                      }
                    </div>
                  }
            <label>
                <span class="label-text">Confirmar contraseña</span>
                <p-password formControlName="confirmPassword" [feedback]="false" [pKeyFilter]="bloquearEspacios" [toggleMask]="true"
                placeholder="••••••••" inputStyleClass="password-input" 
                [inputStyle]="{'width': '100%'}">
                </p-password>
                @if (form.get('password')?.value !== form.get('confirmPassword')?.value && 
                form.get('confirmPassword')?.touched && form.get('password')?.touched) {
                    <div class="error">
                    <small>Las contraseñas no coinciden</small>
                    </div>
                }
            </label>

            <p *ngIf="succes === true">Registro correcto</p>
            <p class="error" *ngIf="succes === false">Error en el registro</p>

            <button type="submit" 
                pButton 
                class="register-button" 
                [disabled]="form.invalid">
                Registrarse
            </button>
            <a href="http://localhost:4200/login">¿Ya tienes cuenta? Login</a>
        </form>
    </div>

    @if(succes){
        <div class="qr-container">
            <p>Escanea este código QR con tu aplicación Authenticator:</p>
            <img [src]="urlQR" alt="QR Code" class="qr-image">
            <p class="secret-code">O introduce manualmente este código:</p>
            <p class="secret-text">{{ codigoAuthQR }}</p>
          </div>
    }
</body>