<div class="formulario-roles">
  <form [formGroup]="rolForm" (ngSubmit)="onSubmit()">
    <div *ngIf="isCreate" class="form-group">
      <label for="nombreRol">Nombre del Rol:</label>
      <input id="nombreRol" formControlName="nombreRol" type="text" placeholder="Introduce el nombre del rol">
    </div>

    <div class="form-group">
      <label for="descripcion">Descripción:</label>
      <input id="descripcion" formControlName="descripcion" type="text" placeholder="Introduce una descripción">
    </div>

    <button type="submit" class="btn-submit">{{!isUpdate ? 'Crear Rol' : 'Actualizar Rol'}}</button>
  </form>
</div>
