body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

body *{
    font-family: Arial, Helvetica, sans-serif;
}

.FormularioCursos,
.btn-lCursos {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="datetime-local"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
}

.btn-lCursos {
    text-align: center;
    margin-top: 20px;
}

.lista-usuarios {
    border-collapse: collapse;
    width: 100%;
  }
  
  .lista-usuarios th, .lista-usuarios td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .lista-usuarios th {
    background-color: #f0f0f0;
  }

  .apartadoFormulario{
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;

    label{
        font-size: medium;
        font-weight: bold;
    }
  }

  #nombre, #descripcion{
    padding: 5px;
    margin-left: 5px;
  }
  
