<div class="FormularioCursos">

    <form [formGroup]="cursoForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="nombre">Nombre del Curso:</label>
          <input id="nombre" formControlName="nombre">
        </div>
        <div>
          <label for="descripcion">Descripción:</label>
          <input id="descripcion" formControlName="descripcion">
        </div>
        <div>
          <label for="fechaInicio">Fecha de Inicio:</label>
          <input id="fechaInicio" type="datetime-local" formControlName="fechaInicio">
        </div>
        <div>
          <label for="fechaFin">Fecha de Fin:</label>
          <input id="fechaFin" type="datetime-local" formControlName="fechaFin">
        </div>
        
        <label>
          Añadir Usuarios:
          <table class="lista-usuarios" [formGroup]="seleccionadosForm">
            <tr>
              <th>Email</th>
              <th>Añadir</th>
            </tr>
            <tr *ngFor="let usuario of usuarios; let i = index">
              <td>{{ usuario.email }}</td>
              <td><input type="checkbox" formControlName="seleccionado{{i}}"></td>
            </tr>
          </table>
        </label>

            <button type="submit">{{ isUpdate ? 'Actualizar Curso ' : 'Crear Curso'}}</button>
      </form>
      

</div>