<div class="FormularioCursos">

    <form [formGroup]="cursoForm" (ngSubmit)="onSubmit()">
        <div class="apartadoFormulario">
          <label for="nombre">Nombre del Curso:</label>
          <input id="nombre" formControlName="nombre">
        </div>
        <div class="apartadoFormulario">
          <label for="descripcion">Descripción:</label>
          <input id="descripcion" formControlName="descripcion">
        </div>
        <div class="apartadoFormulario">
          <label for="numeroHoras">Numero de horas:</label>
          <input id="numeroHoras" type="number" formControlName="numeroHoras">
        </div>
        
        
        <label>
          <div class="apartadoFormulario">
            <h3>Añadir Usuarios:</h3>
            <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
              <input type="text" formControlName="userSearch" placeholder="Buscar por email">
              <button type="submit">Buscar</button>
            </form>
          </div>
          <table class="lista-usuarios" [formGroup]="seleccionadosForm">
            <tr>
              <th>Email</th>
              <th>Añadir</th>
            </tr>
            <tr *ngFor="let usuario of usuariosMostrados; let i = index">
              <td>{{ usuario.email }}</td>
              <td><input type="checkbox" formControlName="seleccionado{{usuario.id}}"></td>
            </tr>
            <button type="button" (click)="prevPage(usuariosMostrados)" [disabled]="page === 1">Anterior</button>
            <button type="button"(click)="nextPage(usuariosMostrados)" [disabled]="page === totalPages">Siguiente</button>
            <p>Página {{ page }} de {{ totalPages }}</p>
          </table>
        </label>

            <button type="submit">{{ isUpdate ? 'Actualizar Curso ' : 'Crear Curso'}}</button>
      </form>
      

</div>